<!-- START ARTICLE -->
<div class="card article">
    <div class="card-content">
      <div class="media-center">
        <figure class="image">
          <img [src]="preview.url" class="author-image"
            [alt]="preview.title">
        </figure>
      </div>
      <div class="media">

        <div class="media-content has-text-centered">
          <p class="title article-title">{{preview.title}}</p>
          <p class="subtitle is-4 article-subtitle">
            {{preview.subtitle}}
          </p>
          <div class="tags has-addons level-item">
            <span class="tag is-rounded is-info">{{preview.author}}</span>
            <span class="tag is-rounded">{{preview.date.toDate() | date: 'dd-MM-yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="content article-body">
        <p>{{preview.body}}</p>
        <br>
        <p class="has-text-centered">
          <a [routerLink]="['/blog', preview.id]" class="button is-medium is-info is-outlined">
            Leggi l'articolo
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- END ARTICLE -->
