<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          PRIVACY POLICY
        </h1>
      </div>
    </div>
  </section>
 <div class="container">
    <div class="content is-medium">
       <ol class="is-upper-roman privacy-policy">
          <li>
              <h4>INFORMAZIONI RELATIVE ALLA PRIVACY POLICY DEL SITO</h4>
              <ol type="1">
                 <li><p>In questa sezione sono contenute le informazioni relative alle modalità di gestione di <span id="id_sito">https://robertocazzaniga.it/</span> in riferimento al trattamento dei dati degli utenti di <span id="span_id_sito">https://robertocazzaniga.it/</span>.</p></li>
                 <li><p>La presente informativa ha valore anche ai fini dell'articolo 13 del Regolamento (UE) n. 2016/679, relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali nonché alla libera circolazione di tali dati, per i soggetti che interagiscono con <span id="span_id_sito">https://robertocazzaniga.it/</span> ed è raggiungibile all'indirizzo corrispondente alla pagina iniziale:  <span id="span_id_url">https://robertocazzaniga.it/</span></p></li>
                 <li><p>L'informativa è resa solo per <span id="id_sito">https://robertocazzaniga.it/</span> e non anche per altri siti web eventualmente consultati dall'utente tramite link in esso contenuti.</p></li>
                 <li><p>Scopo del presente documento è fornire indicazioni circa le modalità, i tempi e la natura delle informazioni che i titolari del trattamento devono fornire agli utenti al momento della connessione alle pagine web di <span id="span_id_sito">https://robertocazzaniga.it/</span>, indipendentemente dagli scopi del collegamento stesso, secondo la legislazione Italiana ed Europea.</p></li>
                 <li><p>L'informativa può subire modifiche a causa dell'introduzione di nuove norme al riguardo, si invita pertanto l'utente a controllare periodicamente la presente pagina.</p></li>
                 <li><p>Se l'utente ha meno di 14 anni, ai sensi dell'art.8, c.1 regolamento (UE) 2016/679, e dell'Art. 2 - Quinquies del D.Lgs 196/2003, così come modificato dal D.Lgs 181/18, dovrà legittimare il suo consenso attraverso l'autorizzazione dei genitori o di chi ne fa le veci.</p></li>
              </ol>
           </li>
           <li>
              <h4>TRATTAMENTO DEI DATI</h4>
              <ol type="1">
                 <li>
                    <h5>Titolare dei Dati</h5>
                    <ol type="1">
                       <li><p>Il titolare del trattamento è la persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che, singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento di dati personali. Si occupa anche dei profili sulla sicurezza.</p></li>
                       <li><p>Relativamente al presente sito web il titolare del trattamento è: <span id="id_titolaretrattamento">Roberto Cazzaniga</span>, e per ogni chiarimento o esercizio dei diritti dell'utente potrà contattarlo al seguente indirizzo mail: <span id="id_mailtitolaretrattamento">info@robertocazzaniga.it</span>.</p></li>
                    </ol>
                 </li>
                 <li>
                    <h5>Responsabile del trattamento dati</h5>
                    <ol type="1">
                       <li><p>Il responsabile del trattamento è la persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che tratta dati personali per conto del titolare del trattamento.</p></li>
                       <li><p>Ai sensi dell'articolo 28 del regolamento (UE) n. 2016/679, su nomina del titolare del dati, il responsabile del trattamento dei dati del sito <span id="span_id_sito">https://robertocazzaniga.it/</span> è: <span id="span_id_responsabile">Roberto Cazzaniga</span>. </p></li>
                    </ol>
                 </li>
                 <li>
                    <h5>Luogo trattamento dati</h5>
                    <ol type="1">
                       <li><p>Il trattamento dei dati generato dall'utilizzo di <span id="span_id_sito">https://robertocazzaniga.it/</span> avviene presso <span id="span_id_luogo_titolare">Via Persico 189 Cremona 26100 CR</span>.<strong><br></strong></p></li>
                       <li><p>In caso di necessità, i dati connessi al servizio newsletter possono essere trattati dal responsabile del trattamento o soggetti da esso incaricati a tal fine presso la relativa sede.</p></li>
                    </ol>
                 </li>
              </ol>
           </li>
          <li>
             <h4>COOKIES</h4>
             <ol type="1">
                <li>
                   <h5>Tipo di Cookies</h5>
                   <ol type="1">
                    <li><p>Il sito <span id="span_id_sito">https://robertocazzaniga.it/</span> utilizza cookies per rendere l'esperienza di navigazione dell'utente più facile ed intuitiva: i cookies sono piccole stringhe di testo utilizzate per memorizzare alcune informazioni che possono riguardare l'utente, le sue preferenze o il dispositivo di accesso a Internet (computer, tablet o cellulare) e vengono utilizzate principalmente per adeguare il funzionamento del sito alle aspettative dell'utente, offrendo un'esperienza di navigazione più personalizzata e memorizzando le scelte effettuate in precedenza.</p></li>
                    <li><p>Un cookie consiste in un ridotto insieme di dati trasferiti al browser dell'utente da un server web e può essere letto unicamente dal server che ha effettuato il trasferimento. Non si tratta di codice eseguibile e non trasmette virus.</p></li>
                    <li><p>I cookies non registrano alcuna informazione personale e gli eventuali dati identificabili non verranno memorizzati. Se si desidera, è possibile impedire il salvataggio di alcuni o tutti i cookie. Tuttavia, in questo caso l'utilizzo del sito e dei servizi offerti potrebbe risultarne compromesso. Per procedere senza modificare le opzioni relative ai cookies è sufficiente continuare con la navigazione.</p></li>
                    <p>Di seguito le tipologie di cookies di cui il sito fa uso:</p>
                   </ol>
                </li>
                <li>
                   <h5>Cookies tecnici</h5>
                   <ol type="1">
                    <li><p>Ci sono numerose tecnologie usate per conservare informazioni nel computer dell'utente, che poi vengono raccolte dai siti. Tra queste la più conosciuta e utilizzata è quella dei cookies HTML. Essi servono per la navigazione e per facilitare l'accesso e la fruizione del sito da parte dell'utente. Sono necessari alla trasmissione di comunicazioni su rete elettronica ovvero al fornitore per erogare il servizio richiesto dal cliente.</p></li>
                    <li><p>Le impostazioni per gestire o disattivare i cookies possono variare a seconda del browser internet utilizzato. Ad ogni modo, l'utente può gestire o richiedere la disattivazione generale o la cancellazione dei cookies, modificando le impostazioni del proprio browser internet. Tale disattivazione può rallentare o impedire l'accesso ad alcune parti del sito.</p></li>
                    <li><p>L'uso di cookies tecnici consente la fruizione sicura ed efficiente del sito.</p></li>
                    <li><p>I cookies che vengono inseriti nel browser e ritrasmessi mediante Google Analytics o tramite il servizio statistiche di blogger o similari sono tecnici solo se utilizzati a fini di ottimizzazione del sito direttamente dal titolare del sito stesso, che potrà raccogliere informazioni in forma aggregata sul numero degli utenti e su come questi visitano il sito. A queste condizioni, per i cookies analytics valgono le stesse regole, in tema di informativa e consenso, previste per i cookies tecnici.</p></li>
                    <li><p>Dal punto di vista della durata si possono distinguere cookies temporanei di sessione che si cancellano automaticamente al termine della sessione di navigazione e servono per identificare l'utente e quindi evitare il login ad ogni pagina visitata e quelli permanenti che restano attivi nel pc fino a scadenza o cancellazione da parte dell'utente.</p></li>
                    <li><p>Potranno essere installati cookies di sessione al fine di consentire l'accesso e la permanenza nell'area riservata del portale come utente autenticato.</p></li>
                    <li><p>Essi non vengono memorizzati in modo persistente ma esclusivamente per la durata della navigazione fino alla chiusura del browser e svaniscono con la chiusura dello stesso. Il loro uso è strettamente limitato alla trasmissione di identificativi di sessione costituiti da numeri casuali generati dal server necessari per consentire l'esplorazione sicura ed efficiente del sito.</p></li>
                   </ol>
                </li>
                <li>
                   <h5>Cookies di terze parti</h5>
                   <ol type="1">
                    <li><p>In relazione alla provenienza si distinguono i cookies inviati al browser direttamente dal sito che si sta visitando e quelli di terze parti inviati al computer da altri siti e non da quello che si sta visitando.</p></li>
                    <li><p>I cookies permanenti sono spesso cookies di terze parti.</p></li>
                    <li><p>La maggior parte dei cookies di terze parti è costituita da cookies di tracciamento usati per individuare il comportamento online, capire gli interessi e quindi personalizzare le proposte pubblicitarie per gli utenti.</p></li>
                    <li><p>Potranno essere installati cookies di terze parti analitici. Essi sono inviati da domini di predette terze parti esterni al sito.</p></li>
                    <li><p>I cookies analitici di terze parti sono impiegati per rilevare informazioni sul comportamento degli utenti su <span id="span_id_sito">https://robertocazzaniga.it/</span>. La rilevazione avviene in forma anonima, al fine di monitorare le prestazioni e migliorare l'usabilità del sito. I cookies di profilazione di terze parti sono utilizzati per creare profili relativi agli utenti, al fine di proporre messaggi pubblicitari in linea con le scelte manifestate dagli utenti medesimi.</p></li>
                    <li><p>L'utilizzo di questi cookies è disciplinato dalle regole predisposte dalle terze parti medesime, pertanto, si invitano gli utenti a prendere visione delle informative privacy e delle indicazioni per gestire o disabilitare i cookies pubblicate nelle relative pagine web.</p></li>
                   </ol>
                </li>
                <li>
                   <h5>Cookies di profilazione</h5>
                   <ol type="1">
                    <li><p>Sono cookie di profilazione quelli a creare profili relativi all'utente e vengono utilizzati al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell'ambito della navigazione in rete.</p></li>
                    <li><p>Quando si utilizzeranno questi tipi di cookies l'utente dovrà dare un consenso esplicito.</p></li>
                    <li><p>Si applicherà l'articolo 22 del Regolamento (UE) 2016/679 e l'articolo 122 del Codice in materia di protezione dei dati.</p></li>
                   </ol>
                </li>
             </ol>
           </li>
          <li>
             <h4>DATI TRATTATI</h4>
             <ol type="1">
                <li>
                 <h5>Modalità trattamento dati</h5>
                 <ol type="1">
                    <li>
                       <p>Come tutti i siti web anche il presente sito fa uso di log files nei quali vengono conservate informazioni raccolte in maniera automatizzata durante le visite degli utenti. Le informazioni raccolte potrebbero essere le seguenti:</p>
                         <ul>
                            <li><p>indirizzo internet protocol (IP)</p></li>
                            <li><p>tipo di browser e parametri del dispositivo usato per connettersi al sito</p></li>
                            <li><p>nome dell'internet service provider (ISP)</p></li>
                            <li><p>data e orario di visita</p></li>
                            <li><p>pagina web di provenienza del visitatore (referral) e di uscita</p></li>
                            <li><p>eventualmente il numero di click</p></li>
                         </ul>
                       </li>
                       <li><p>Le suddette informazioni sono trattate in forma automatizzata e raccolte in forma esclusivamente aggregata al fine di verificare il corretto funzionamento del sito, e per motivi di sicurezza. Tali informazioni saranno trattate in base ai legittimi interessi del titolare.</p></li>
                       <li><p>A fini di sicurezza (filtri antispam, firewall, rilevazione virus), i dati registrati automaticamente possono eventualmente comprendere anche dati personali come l'indirizzo Ip, che potrebbe essere utilizzato, conformemente alle leggi vigenti in materia, al fine di bloccare tentativi di danneggiamento al sito medesimo o di recare danno ad altri utenti, o comunque attività dannose o costituenti reato. Tali dati non sono mai utilizzati per l'identificazione o la profilazione dell'utente, ma solo a fini di tutela del sito e dei suoi utenti, tali informazioni saranno trattate in base ai legittimi interessi del titolare.</p></li>
                       <li><p>Qualora il sito consenta l'inserimento di commenti, oppure in caso di specifici servizi richiesti dall'utente, ivi compresi la possibilità di inviare il Curriculum Vitae per un eventuale rapporto lavorativo, il sito rileva automaticamente e registra alcuni dati identificativi dell'utente, compreso l'indirizzo mail. Tali dati si intendono volontariamente forniti dall'utente al momento della richiesta di erogazione del servizio. Inserendo un commento o altra informazione l'utente accetta espressamente l'informativa privacy, e in particolare acconsente che i contenuti inseriti siano liberamente diffusi anche a terzi. I dati ricevuti verranno utilizzati esclusivamente per l'erogazione del servizio richiesto e per il solo tempo necessario per la fornitura del servizio.</p></li>
                       <li><p>Le informazioni che gli utenti del sito riterranno di rendere pubbliche tramite i servizi e gli strumenti messi a disposizione degli stessi, sono fornite dall'utente consapevolmente e volontariamente, esentando il presente sito da qualsiasi responsabilità in merito ad eventuali violazioni delle leggi. Spetta all'utente verificare di avere i permessi per l'immissione di dati personali di terzi o di contenuti tutelati dalle norme nazionali ed internazionali.</p></li>
                 </ol>
                </li>
                <li>
                   <h5>Finalità del trattamento dati</h5>
                   <ol type="1">
                       <li><p>Come sopra indicato, l'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.</p></li>
                       <li><p>Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.</p></li>
                    </ol>
                </li>
                <li>
                   <h5>Dati forniti dall'utente</h5>
                   <ol type="1">
                       <li><p>Come sopra indicato, l'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.</p></li>
                       <li><p>Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.</p></li>
                   </ol>
                </li>
                <li>
                   <h5>Supporto nella configurazione del proprio browser</h5>
                   <ol type="1">
                       <li><p>1. L'utente puì gestire i cookie anche attraverso le impostazioni del suo browser. Tuttavia, cancellando i cookies dal browser potrebbe rimuovere le preferenze che ha impostato per il sito.</p></li>
                       <li><p>2. Per ulteriori informazioni e supporto è possibile anche visitare la pagina di aiuto specifica del web browser che si sta utilizzando:</p>
                       <ul>
                          <li>Internet Explorer: http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</li>
                          <li>Firefox: https://support.mozilla.org/en-us/kb/enable-and-disable-cookies-website-preferences</li>
                          <li>Safari: http://www.apple.com/legal/privacy/it/</li>
                          <li>Chrome: https://support.google.com/accounts/answer/61416?hl=it</li>
                          <li>Opera: http://www.opera.com/help/tutorials/security/cookies/</li>
                       </ul>
                       </li>
                   </ol>
                </li>
            </ol>
           </li>
          <li>
             <h4>DIRITTI DELL'UTENTE</h4>
             <ol type="1">
                <li><p>L'art. 13, c. 2 del Regolamento (UE) 2016/679 elenca i diritti dell'utente.</p></li>
                <li>
                 <p>Il sito <span id="span_id_sito">https://robertocazzaniga.it/</span> intende pertanto informare l'utente sull'esistenza dei diritti dell'utente, in base ai seguenti articoli del Regolamento (UE) 2016/679:</p>
                    <ol type="a">
                       <li><p>In base all'art. 15, del diritto dell'interessato di chiedere al titolare l'accesso ai dati personali, in base all'art. 16 la possibilità di rettificare i dati forniti, in base all'art.18 la possibilità di integrare o limitare il trattamento che lo riguardino, o di opporsi, per motivi legittimi, al loro trattamento in base all'art. 21, oltre al diritto alla portabilità dei dati in base all'art. 20 Regolamento (UE);</p></li>
                       <li><p>del diritto di chiedere la cancellazione in base all'art.17, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati.</p></li>
                       <li><p>del diritto di ottenere l'attestazione che le operazioni di aggiornamento, rettificazione, integrazione dei dati, cancellazione, blocco dei dati, trasformazione sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</p></li>
                    </ol>
                </li>
                <li><p>Le richieste possono essere indirizzate al titolare del trattamento, senza formalità o, in alternativa, utilizzando il modello previsto dal Garante per la Protezione dei Dati Personali, o inviando una mail all'indirizzo: <span id="span_id_mailtitolaretrattamento">info@robertocazzaniga.it</span></p></li>
                <li><p>Qualora il trattamento sia basato sull'art. 6, paragrafo 1, lett. a) – consenso espresso all'utilizzo – oppure sull'art. 9, paragrafo 2 lett. a) – consenso espresso all'utilizzo di dati genetici, biometrici, relativi alla salute, che rivelino convinzioni religiose, o filosofiche o appartenenza sindacale, che rivelino l'origine razziale o etnica, le opinioni politiche – l'utente ha il diritto di revocare il consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca.</p></li>
                <li><p>Parimenti, in caso di violazione della normativa, l'utente ha il diritto di proporre reclamo presso il Garante per la Protezione dei Dati Personali, quale autorità preposta al controllo sul trattamento nello Stato Italiano.</p></li>
                <li><p>Per una disamina più approfondita dei diritti che Le competono, si vedano gli articoli 15-22 del Regolamento (UE) 2016/679.</p></li>
             </ol>
           </li>
          <li>
              <h4>ADEMPIMENTI</h4>
              <ol type="1">
                 <li>
                    <p>Il titolare notifica al Garante il trattamento di dati personali cui intende procedere, solo se il trattamento riguarda:</p>
                    <ul>
                       <li><p>dati genetici, biometrici o dati che indicano la posizione geografica di persone od oggetti mediante una rete di comunicazione elettronica</p></li>
                       <li><p>dati idonei a rivelare lo stato di salute e la vita sessuale, trattati ai fini di procreazione assistita, prestazione di servizi sanitari per via telematica relativi a banche di dati o alla fornitura di beni, indagini epidemiologiche, rilevazione di malattie mentali, infettive e diffusive, sieropositività, trapianto di organi e tessuti e monitoraggio della spesa sanitaria</p></li>
                       <li><p>dati idonei a rivelare la vita sessuale o la sfera psichica, trattati da associazioni, enti ed organismi senza scopo di lucro, anche non riconosciuti, a carattere politico, filosofico, religioso o sindacale</p></li>
                       <li><p>dati trattati con l’ausilio di strumenti elettronici volti a definire il profilo o la personalità dell’interessato o ad analizzare abitudini e scelte di consumo ovvero a monitorare l’utilizzo di servizi di comunicazione elettronica con esclusione dei trattamenti tecnicamente indispensabili per fornire i servizi medesimi agli utenti</p></li>
                       <li><p>dati sensibili registrati in banche di dati a fini di selezione del personale per conto terzi nonché dati sensibili utilizzati per sondaggi di opinione, ricerche di mercato ed altre ricerche campionarie</p></li>
                       <li><p>dati registrati in apposite banche dati gestite con strumenti elettronici e relative al rischio sulla solvibilità economica, alla situazione patrimoniale, al corretto adempimento di obbligazioni, a comportamenti illeciti o fraudolenti</p></li>
                    </ul>
                 </li>
              </ol>
           </li>
          <li>
              <h4>SICUREZZA DATI FORNITI</h4>
              <ol type="1">
                 <li><p>Il presente sito tratta i dati degli utenti in maniera lecita e corretta, adottando le opportune misure di sicurezza volte ad impedire accessi non autorizzati, divulgazione, modifica o distruzione non autorizzata dei dati. Il trattamento viene effettuato mediante strumenti informatici e/o telematici, con modalità organizzative e con logiche strettamente correlate alle finalità indicate.</p></li>
                 <li><p>Oltre al titolare, in alcuni casi, potrebbero avere accesso ai dati categorie di incaricati coinvolti nell'organizzazione del sito (personale amministrativo, commerciale, marketing, legali, amministratori di sistema) ovvero soggetti esterni (come fornitori di servizi tecnici terzi, corrieri postali, hosting provider, società informatiche, agenzie di comunicazione).</p> </li>
              </ol>
           </li>
          <li>
              <h4>MODIFICHE AL PRESENTE DOCUMENTO</h4>
              <ol type="1">
                 <li><p>Il presente documento, che costituisce la privacy policy di questo sito, è pubblicato all'indirizzo: <span id="span_id_altrourl">https://robertocazzaniga.it/privacy-policy</span></p></li>
                 <li><p>Esso può essere soggetto a modifiche o aggiornamenti. Qualora si tratti di modifiche ed aggiornamenti rilevanti questi saranno segnalati con apposite notifiche agli utenti.</p></li>
                 <li><p>Le versioni precedenti del documento saranno comunque consultabili a questa pagina.</p></li>
                 <li><p>Il documento è stato aggiornato in data <span id="span_id_data" class="encours">11/03/2020</span> per essere conforme alle disposizioni normative in materia, ed in particolare in conformità al Regolamento (UE) 2016/679.</p></li>
              </ol>
           </li>
       </ol>
    </div>
 </div>
