<!-- START NAV -->
<nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          Roberto Cazzaniga
        </a>
        <span (click)="toggleNavbar()"
           class="navbar-burger burger" 
           #navBurger aria-label="menu" 
           aria-expanded="false" 
           data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" #navMenu class="navbar-menu" > <!--[ngClass]="{'is-active': classNavbarMenu}"-->
        <div class="navbar-end">
          <a class="navbar-item is-active" (click)="toggleNavbar()" routerLink="">
            Home
          </a>
          <a class="navbar-item" (click)="toggleNavbar()" routerLink="about">
            About
          </a>
          <a class="navbar-item" (click)="toggleNavbar()" routerLink="newsletter">
            Newsletter
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" (click)="toggleNavbar()" routerLink="blog">
              Blog
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" (click)="toggleNavbar()" [routerLink]="['/blog', '1.1']">
                Intro
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" (click)="toggleNavbar()" [routerLink]="['/blog', '1.2']">
                Cosa serve
              </a>
              <a class="navbar-item" (click)="toggleNavbar()" [routerLink]="['/blog', '1.3']">
                Canvas
              </a>
              <a class="navbar-item" (click)="toggleNavbar()" [routerLink]="['/blog', '1.4']">
                Inizializziamo
              </a>
              <a class="navbar-item" (click)="toggleNavbar()" [routerLink]="['/blog', '1.5']">
                Creazione personaggio
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--#navbarMenu-->
      <!-- <app-wdg-social></app-wdg-social> -->
    </div>
  </nav>
  <!-- END NAV -->
  
