<app-header></app-header>
<cookie-law>
    Informativa
    Questo sito o gli strumenti di terze parti in esso integrati trattano dati personali (es. dati di navigazione o indirizzi IP) e fanno uso di cookie o altri identificatori necessari per il funzionamento e per il raggiungimento delle finalità descritte nella cookie policy.
    Dichiari di accettare l’utilizzo di cookie o altri identificatori chiudendo o nascondendo questa informativa, proseguendo la navigazione di questa pagina, cliccando un link o un pulsante o continuando a navigare in altro modo.
  <a routerLink="privacy-policy">Scopri di più</a>
</cookie-law>
<router-outlet></router-outlet>
<app-footer></app-footer>