<section class="hero  is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{subtitle}}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <div class="post" *ngFor="let content of contents">
          <div *ngIf="content.status && content.status === 'section'" [innerHTML]="content.html"></div>
          <pre *ngIf="content.status && content.status === 'code'">
            <code 
              [highlight]="content.html" 
              [lineNumbers]="true">
            </code>
          </pre>
          <div class="canvas-wrapper" *ngIf="content.status && content.status === 'canvas'">
            <app-canvas [data]="content.html"></app-canvas>
          </div>
        </div>
        <br>
        <app-newsletter-block></app-newsletter-block>
        <br>
        <app-contacts></app-contacts>
      </div>
    </div>
    <!-- column is-8 is-offset-2 -->
  </div>
  <!-- container -->
</section>
<!-- section -->

