<div class="navbar-item is-flex-touch social">
    <a class="navbar-item" href="https://www.facebook.com/roberto.cazzaniga.71">
      <i class="fab fa-lg fa-facebook"></i>
    </a>
    <a class="navbar-item" href="https://www.instagram.com/roberto.cazzaniga.33/">
      <i class="fab fa-lg fa-instagram"></i>
    </a>
    <a class="navbar-item" href="https://www.linkedin.com/in/robertocazzaniga/">
      <i class="fab fa-lg fa-linkedin"></i>
    </a>
    <a class="navbar-item" href="https://github.com/camizzilla">
      <i class="fab fa-lg fa-git-square"></i>
    </a>
</div>
