<!-- footer -->
<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <div class="columns">
          <div class="column">
              Column 1
            <!-- <app-wdg-contacts></app-wdg-contacts> -->
          </div>
          <div class="column">
            Column 2
            <!-- <app-wdg-last-post></app-wdg-last-post> -->
          </div>
          <div class="column">
            Column 3
            <!-- <app-wdg-navigation></app-wdg-navigation> -->
          </div>
          <div class="column">
            Column 4
            <!-- <app-wdg-privacy-policy></app-wdg-privacy-policy> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
